* {
    color: inherit;
    margin: 0;
  }
  
  body {
    font-family: verdana;
  }
  
  ul {
    padding: 0;
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
  }
  
  hr {
    border: 0;
    border-top: 2px dotted yellow;
  }

  img{
    max-width: 100%;
}

 